### Python ###
# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.envrc
.venv
venv/
ENV/
env.bak/
venv.bak/

# Package management
.eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
build/
dist/
pip-log.txt
pip-delete-this-directory.txt

# Testing/coverage
.coverage
htmlcov/
.tox/
.nox/
.cache

### Docker ###
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/tmp/
**/*.log
!**/data/raw/  # Keep raw data

### Data Analysis ###
# Jupyter/IPython
.ipynb_checkpoints/
profile_default/

# Database files
*.sqlite
*.sqlite-journal

# IDE specific
.idea/
.vscode/
.spyderproject

### System ###
.DS_Store
Thumbs.db
